<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>
		Home
	</title>
	<link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js}"></script>
	<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
	
	<div th:fragment="navigationBar">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{#}">SBMPTN</a>
				</div>
				<ul class="nav navbar-nav">
					<li th:class="${activeBar == 'home'}? 'active': ''">
						<a th:href="@{/}">Home</a>
					</li>
					<li th:class="${activeBar == 'univ'}? 'active': ''">
						<a th:href="@{/univ}">Universitas</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>

	<div th:fragment="pesertaDitemukan">
		<table class="table table-hover">
			<tbody>
				<tr>
					<td>
						Nomor
					</td>
					<td>
						:
					</td>
					<td th:text="${peserta.nomor}"></td>
				</tr>
				<tr>
					<td>
						Nama
					</td>
					<td>
						:
					</td>
					<td th:text="${peserta.nama}"></td>
				</tr>
				<tr>
					<td>
						Tanggal Lahir
					</td>
					<td>
						:
					</td>
					<td th:text="${peserta.tgl_lahir}"></td>
				</tr>
				<tr>
					<td>
						Usia
					</td>
					<td>
						:
					</td>
					<td th:text="${usia}"></td>
				</tr>
			</tbody>
		</table>
		<div class="alert" th:classappend="${peserta.prodi}? alert-success: alert-danger">
			<span th:text="${peserta.prodi}?'Selamat! Anda lulus seleksi SBMPTN pada prodi ':'Mohon maaf, anda belum lulus seleksi SBMPTN'" th:remove="tag"></span>
			<a th:text="${peserta.prodi}?${peserta.prodi.nama_prodi}+' '+${peserta.prodi.universitas.nama_univ}" th:href="${peserta.prodi}?${peserta.prodi.universitas.url_univ}">	
			</a>
		</div>
	</div>

	<div th:fragment="pesertaTidakDitemukan">
		<div class="container-fluid">
			<h1>
				Pengumuman SBMPTN
			</h1>
			<div th:text="'Maaf, peserta dengan nomor '+${nomor}+' tidak ditemukan'"></div>
		</div>
	</div>

	<div th:fragment="universitasDitemukan">
		<div class="container-fluid">
			<h2 th:text="${univ.kode_univ}+' - '+${univ.nama_univ}">Nama Universitas</h2>
			<a th:href="${univ.url_univ}" th:text="${univ.url_univ}">URL</a>
			<p></p>
			<h3>Daftar Universitas</h3>
			<table id="myTable" class="table">
				<thead>
					<tr>
						<th>
							ID
						</th>
						<th>
							Nama
						</th>
						<th>
							Menu
						</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="prodi,iterationStatus: ${univ.programs}">
						<tr>
							<td th:text="${prodi.kode_prodi}">Kode</td>
							<td th:text="${prodi.nama_prodi}">Nama Prodi</td>
							<td><a th:href="'/prodi?kode='+${prodi.kode_prodi}" class="btn btn-info" role="button">Lihat Detail</a></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>

	<div th:fragment="universitasTidakDitemukan">
		<div class="container-fluid">
			<h1>
				ERROR
			</h1>
			<p th:text="'Maaf, Universitas dengan kode '+${kode}+' tidak ditemukan.'">ERROR</p>
		</div>
	</div>

	<div th:fragment="prodiDitemukan">
		<div class="container-fluid">
			<h2 th:text="${prodi.universitas.kode_univ}+' - '+${prodi.universitas.nama_univ}">Nama Universitas</h2>
			<p></p>
			<h3 th:text="${prodi.nama_prodi}">Nama Prodi</h3>
			<a th:href="${prodi.universitas.url_univ}" th:text="${prodi.universitas.url_univ}">URL</a>
			<p></p>
			<h3>Daftar Peserta</h3>
			<p th:text="'Peserta tertua: '+${oldest.nomor}+' - '+${oldest.nama}+', '+${oldestAge}+' tahun'">Oldest</p>
			<p th:text="'Peserta termuda: '+${youngest.nomor}+' - '+${youngest.nama}+', '+${youngestAge}+' tahun'">Youngest</p>
			<h3>Daftar Universitas</h3>
			<table id="myTable" class="table">
				<thead>
					<tr>
						<th>
							ID
						</th>
						<th>
							Nama
						</th>
						<th>
							Menu
						</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="peserta,iterationStatus: ${prodi.participants}">
						<tr>
							<td th:text="${peserta.nomor}">Nomor Peserta</td>
							<td th:text="${peserta.nama}">Nama Peserta</td>
							<td><a th:href="'/peserta?nomor='+${peserta.nomor}" class="btn btn-info" role="button">Lihat Detail</a></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>

	<div th:fragment="prodiTidakDitemukan">
		<div class="container-fluid">
			<h1>
				ERROR
			</h1>
			<p th:text="'Maaf, Prodi dengan kode '+${kode}+' tidak ditemukan.'">ERROR</p>
		</div>
	</div>

	<div th:fragment="pesertaDetil">
		<div class="container-fluid">
			<p></p>
			<h1 th:text="'Detail Peserta '+${peserta.nomor}"></h1>
			<table class="table table-hover">
				<tbody>
					<tr>
						<td>Nomor</td>
						<td>:</td>
						<td th:text="${peserta.nomor}"></td>
					</tr>
					<tr>
						<td>Nama</td>
						<td>:</td>
						<td th:text="${peserta.nama}"></td>
					</tr>
					<tr>
						<td>Tanggal Lahir</td>
						<td>:</td>
						<td th:text="${peserta.tgl_lahir}"></td>
					</tr>
					<tr>
						<td>Umur</td>
						<td>:</td>
						<td th:text="${usia}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>	